/* Add your CSS here */
.header {
  background-image: url(images/background-airbnb.png);
}

.header h1 {
  color: white;
  font-family: sans-serif;
  padding: 25px 35px 20px 10px;
}

.forms {
  padding: 10px;
}

.forms p {
  color: gray;
}

.forms .where {
  color: gray;
  border-radius: 2px;
  width: 100%;
}

.forms .in-out-text {
  display: flex;
  justify-content: space-around;
}

.forms .input-in-out {
  display: flex;
  justify-content: space-around;
}

.forms .checkin {
  color: gray;
  border-radius: 2px;
}

.forms .checkout {
  color: gray;
  border-radius: 2px;
}


.guests {
  width: 100%;
}

.search {
  background-color: #F06649;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.explore {
  background-color: white;
  color: gray;
  justify-content: space-around;
}

.explore h2 {
  color: gray;
  font-weight: bold;
}

.explore img {
  width: 40%;
}

.explore ul {
  list-style-type: none;
  text-align: center;
}

.explore a {
  color: gray;
  text-decoration: none;
  border-width: thin;
  border-style: outset;
  border-color: gray;
  border-radius: 3px;
}

.explore a:hover {
  background-color: #F06649;
  color: white;
}

.thenumbers {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.explore .one {
  display: inline-flex;
}

.explore .two {
  display: inline-flex;
}

.explore .three {
  display: inline-flex;
}
