/* Add your CSS here */
h1 {
  text-transform: uppercase;
  font-size: 80px;
}

img {
  height: 400px;
  width: 100%;
}

div a {
  color: white;
  display: inline-block;
  background-color: darkred;
  padding: 10px 40px 10px 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

p {
  font-size: 20px;
  margin: 30px 0 30px 0;
}
