body {
  margin: 0;
  background-color: #f3f3f3;
}
main {
  width: 430px;
  font-family: sans-serif;
  padding: 10px;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}

li {
  list-style: none;
}

li a {
  display: flex;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a5002e;
  border: thin solid #a5002e;
  height: 2rem;
  width: 7rem;
  align-items: center;
  justify-content: center;
}
li a:hover {
  background-color: white;
  color: #a5002e;
}
