.title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2.625em;
  font-family: "Lato" sans-serif;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

.p {
  justify-content: center;

}

 .sidebar {
   float: left;
   display:inline;
   margin-left: 20px;
 	 margin: 25px;
   text-align: justify;
}
