* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
​
body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 600px;
  margin-left: 100px;
}
​
h1 {
  font-size: 85px;
}
​
img {
  height: 250px;
  width: 100%;
}
​
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
​
li {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: red;
  padding: 5px;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
}
​
a {
    color: white;
    text-decoration: none;
}
​
p {
  margin-top: 10px;
}
