.body {
    box-sizing: border-box;
    border-block-width: auto;
}
h1 {
    text-emphasis-color: black;
    align-content: center;
    font-size: 30px;
}
.img {
    align-content: center;
}
.p {
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.section{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
