.content {
  float: right;
}

.sidebar {
  display: flex;
  float: left;
}

.sidebar {
    background: #da9833;
    color: #3c70a4;
    padding: 2rem;
    width: 200px;
  }

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
