/* Add your CSS here */
.Help{
  text-align: center;
}
.Jobs{
  display: flex;
  justify-content: center;
}
.Jobs a{
  margin: 1rem;

}
.Articles{
  display: flex;


}
img{
  float: left;
  margin: 1rem;
}

.happier img{
 margin-left: 2rem;

}
